Repository dev-memento/memento-iOS, pull requests merged in 2025-09, with the labels that each got.

#52 [Feat] #51 - 로그인 Firebase Auth 연동, SettingView 약관, 피드백, 로그인 계정 표시
  Memento-iOS/Memento-iOS.xcodeproj/project.pbxproj
  Memento-iOS/Memento-iOS.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Memento-iOS/Memento-iOS/Source/Const/StringLiteral.swift
  Memento-iOS/Memento-iOS/Source/Network/Base/AuthSession/AuthSession+Apple.swift
  Memento-iOS/Memento-iOS/Source/Network/Base/AuthSession/AuthSession+Google.swift
  Memento-iOS/Memento-iOS/Source/Network/Base/AuthSession/AuthSession+Network.swift
  Memento-iOS/Memento-iOS/Source/Network/Base/AuthSession/AuthSession.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Onboarding/View/CalendarConnectView.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Onboarding/View/LoginView.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Onboarding/View/SleepCycleSettingView.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Onboarding/View/StartMementoView.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Onboarding/View/WorkPreferenceView.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Onboarding/View/WorkSelectionView.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Onboarding/ViewModel/OnboardingViewModel.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Setting/View/SettingView.swift
Labels: Feat, Network, 정욱

#54 [Feat] #44 - Alert Edit 연동
  Memento-iOS/Memento-iOS.xcodeproj/project.pbxproj
  Memento-iOS/Memento-iOS/Source/Component/Alert/ScheduleAlertView.swift
  Memento-iOS/Memento-iOS/Source/Component/Button/PickerButton.swift
  Memento-iOS/Memento-iOS/Source/Component/Button/SheetOKButton.swift
  Memento-iOS/Memento-iOS/Source/Component/MementoCell/ScheduleListCell.swift
  Memento-iOS/Memento-iOS/Source/Component/TabBar/TabBarView.swift
  Memento-iOS/Memento-iOS/Source/Extension/Color+.swift
  Memento-iOS/Memento-iOS/Source/Extension/Date+.swift
  Memento-iOS/Memento-iOS/Source/Extension/String+.swift
  Memento-iOS/Memento-iOS/Source/Extension/View+.swift
  Memento-iOS/Memento-iOS/Source/Network/Schedule/ScheduleAPIService.swift
  Memento-iOS/Memento-iOS/Source/Network/Schedule/ScheduleTargetType.swift
  Memento-iOS/Memento-iOS/Source/Network/ToDoList/ToDoListAPIService.swift
  Memento-iOS/Memento-iOS/Source/Network/ToDoList/ToDoListTargetType.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Add/Common/Model/ViewType.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Add/Schedule/ViewModel/AddScheduleViewModel.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Add/ToDo/View/AddToDoPrioritySheet.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Add/ToDo/View/AddToDoToolbarView.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Add/ToDo/ViewModel/AddToDoViewModel.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Main/Model/ScheduleItem.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Main/View/Edit/EditScheduleView.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Main/View/Edit/EditToDoView.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Main/View/ToDoList/ToDoListView.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Main/View/ToDoList/ToDoListWeeklyCalendarView.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Main/View/Today/TodayWeeklyCalendarView.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Main/ViewModel/EditScheduleViewModel.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Main/ViewModel/EditToDoViewModel.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Onboarding/View/SleepCycleSettingView.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Setting/View/TimeView.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Setting/ViewModel/SettingViewModel.swift
Labels: Feat, Network, 세민

#62 [Feat] #60 - tag 수정 삭제 생성
  Memento-iOS/Memento-iOS/Source/App/Memento_iOSApp.swift
  Memento-iOS/Memento-iOS/Source/Component/Alert/CustomAlertView.swift
  Memento-iOS/Memento-iOS/Source/Component/CustomNavigationBar.swift
  Memento-iOS/Memento-iOS/Source/Network/Tag/TagAPIService.swift
  Memento-iOS/Memento-iOS/Source/Network/Tag/TagManager.swift
  Memento-iOS/Memento-iOS/Source/Network/Tag/TagTargetType.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Main/ViewModel/WeeklyCalendarViewModel.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Setting/Model/TagItem.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Setting/View/SettingView.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Setting/View/TagEditDetailView.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Setting/View/TagEditView.swift
  Memento-iOS/Memento-iOS/Source/Presentation/Setting/View/TimeView.swift
Labels: Feat, 가현
